@model UCOGPS.Models.User
@{ ViewBag.Title = "Login";}
<!--Test with url/Login-->
<head>
    <style>
        body
        {
            text-align:center;
        }
    </style>
</head>
<div>
    <h1>Log In</h1>
    @using (Html.BeginForm("Login", "LoginSystem", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Username, new { placeholder = "Username" })
        <br><br>
        @Html.TextBoxFor(model => model.Password, new { placeholder = "Password", type = "password" })
        <br><br>
        <input class="button" name="submit" type="submit" value="Login" />
    }
    <br>
    @Html.ActionLink("No Account? Register Here!", "Register", "LoginSystem")
</div>
