html
{
    /* background-image: url("../Image/uco-athletics.jpg"); */
    background-image: url("/Image/UCOPowerPoint1024x768-1.jpg");
    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: black;
    font-size: 100%;
    scrollbar-base-color:red;
    color:white; 
    text-align:center;
}

#form1
{
    width: 75%;
    margin: 0 auto;
}

#TextBox_Directions
{
    width: 40%;
}