@{
    ViewBag.Title = "Home";
}
<<<<<<< HEAD
<!--Test with url/index or just url-->
<p>
    This is the Home page.
</p>
=======
<h1>
    TestIndex
</h1>
>>>>>>> ca23d3f999fe89d3fc4c438a23436706303cd7aa
