@model UCOGPS.Models.User
@{ ViewBag.Title = "Register";}
<!--Test with url/Register-->
<head>
    <style>
        body
        {
            text-align:center;
        }
    </style>
</head>
<div class="form">
    <h1>Registration</h1>
    @using (Html.BeginForm("Register", "LoginSystem", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.TextBoxFor(model => model.Username, new { placeholder = "Username" })
        <br><br>
        @Html.TextBoxFor(model => model.Password, new { placeholder="Password", type="password" })
        <br><br>
        <input class="button" type="submit" name="submit" value="Register" />
    }
</div>