@model UCOGPS.Models.Building
@{ ViewBag.Title = "Add Building"; }
<div>
    <h1>Add a New Building</h1>
    @using (Html.BeginForm("AddBuilding", "MappingSystem", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name of Building" })
        <br><br>
        @Html.TextBoxFor(model => model.Latitude, new { placeholder = "Latitude"})
        <br><br>
        @Html.TextBoxFor(model => model.Longitude, new { placeholder = "Longitude" })
        <br><br>
        <input class="button" name="submit" type="submit" value="Add Building" />
    }
    <br>
</div>
