<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="google-site-verification" content="IrK0jVzF3Pv_F83MbFG1I2sNrnVFrT99TWd6vabmmu0" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
